<div class="navbar-fixed">
<nav class="blue darken-4" role="navigation">
  <div class="nav-wrapper">
  <%= image_tag("Logo-B-Seller.png") %>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://consultoriabatista.herokuapp.com/">Consultoria do Batista</a></li>
      <li><a href="https://www.udemy.com/testes-automatizados-de-api-com-httparty-rspec/">Curso de HTTParty</a></li>
      <li><a href="https://www.udemy.com/automacao-de-testes-com-capybara-cucumber-e-ruby/">Curso de Capybara</a></li>
      <li><a href="https://www.youtube.com/channel/UCp554v_is_ZzjzSmAQyFfAA">Batista no Youtube</a></li>
      <li><a href="https://medium.com/automa%C3%A7%C3%A3o-com-batista">Batista no Medium</a></li>
    </ul>
  </div>
</nav>
</div>