<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<%= render "navbar"%>
<div class="row">

  <div class="col s3">
    <%= render "sidenav"%>
  </div>   

  <div class="col s9">

    <div>
      <div id="response"></div>
      <input type="button" class="btn btn-primary" value="Call Web API" onclick="javascript:CallWebAPI();" />
    </div>

  </div>
  
</div>

<script>
  var userName = "admin";
  var passWord = "admin";
  
  function authenticateUser(user, password)
  {
    var token = user + ":" + password;
    var hash = btoa(token); 
    return "Basic " + hash;
  }
  
  function CallWebAPI() {
    var request = new XMLHttpRequest();
    request.open("get", "basicauth", false);
    request.setRequestHeader("Authorization", authenticateUser(userName, passWord));  
    request.send();
    alert(request.status);
    response.innerHTML = request.responseText;
  }
</script>

<!-- Hotjar Tracking Code for https://automacaocombatista.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:927077,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>