<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<%= render "navbar"%>
<div class="row">

  <div class="col s3">
    <%= render "sidenav"%>
  </div>   

  <div class="col s9">

    <div>
      <div id="response"></div>
      <input type="button" class="btn btn-primary" value="Call Web API" onclick="javascript:CallWebAPI();" />
    </div>

  </div>
  
</div>

<script>
  var userName = "admin";
  var passWord = "admin";
  
  function authenticateUser(user, password)
  {
    var token = user + ":" + password;
    var hash = btoa(token); 
    return "Basic " + hash;
  }
  
  function CallWebAPI() {
    var request = new XMLHttpRequest();
    request.open("get", "basicauth", false);
    request.setRequestHeader("Authorization", authenticateUser(userName, passWord));  
    request.send();
    alert(request.status);
    response.innerHTML = request.responseText;
  }
</script>