<h4 class="bold" style="margin-top: 50px;">Lista de Funcionalidades</h4>
<ul class="collapsible collapsible-accordion">
  <li class="bold "><%= link_to "Cursos", cursos_home_path, class: "collapsible-header waves-teal", :method => "get"%></li>
  <li class="bold"><%= link_to "Treinamento Automação Web", treinamento_home_path, class: "collapsible-header waves-teal", :method => "get"%></li>
  <li class="bold"><%= link_to "Treinamento Automação API", api_home_api_path, class: "collapsible-header waves-teal", :method => "get"%></li>
</ul>