

<div data-controller="home">

<h1> This is home page </h1>


<h6> Pick date using jQuery Datepicker </h6>


<p>Date: <input type="text" id="datepicker"></p>


<br>
<hr>


<h6> JQuery Draggable Element </h6>


<div id="draggable" class="ui-widget-content">
  <p>Drag me around</p>
</div>


<br>
<hr>


<h6> Click Event using JQuery </h6>


<button id="btn-click"> Click Me </button>


</div>