@import 'materialize';
@import 'material_icons';

//css auxiliares
.fixarRodape {
    bottom: 0;
    position: fixed;
    height: 40%;
    width: 100%;
}

.tamanhodiv {
    height: 10px;
}

.tamanhodiv2 {
    height: 60px;
}

.breadcrumb:before {
    color: #0d0e0d;
}

.left {
    text-align: left;
}


.icons-list li{
    display: inline;
    margin: 0px;
}

.tipo{
    height: 45px;
    width: 45px;
  }

  .icons-list-item{
    font-family: SocialIcons;
    font-size: 64px;
    color: white
  }
  
  .icons-list-item:hover{
    color: black;
  }

.character-counter{
display: none;
}
