body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  *  {
    margin:0;
    padding:0;
}

html, body {height:100%;}

.geral {
    min-height:100%;
    position:relative;
    width:800px;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}